@font-face {
    font-family: 'Aachen Bold';
    src: url(./fonts/aachen-bold.otf);
}
@font-face {
    font-family: 'Benguiat Bold';
    src: url(./fonts/ITCBenguiatStdBoldCn.OTF);
}
@font-face {
    font-family: 'Motor Oil';
    src: url(./fonts/Motor\ Oil\ 1937\ M54.ttf);
}

*{
    margin:0;
    padding:0;
    font-size: 1.05em;
    font-family: 'Motor Oil';
}

body{
    min-height: 100vh;
}

.sidebar{
    display: none;
}

a{
    font-family: 'Benguiat Bold';
    text-decoration: none;
    color: #FABB15;
}

a:visited{
    font-family: 'Benguiat Bold';
    text-decoration: none;
    color: #FABB15;
}

a:hover{
    text-decoration: underline;
}

.navbar a{
    border-radius: 50px;
    padding: 0.3em 0.3em 0;
    transition: 0.2s;
}
.navbar a:hover{
    background: #FABB15;
    color: #000000;
    text-decoration: none;
}

h1{
    font-size: 2em;
    margin: 0.5em auto;
    font-family: 'Aachen Bold';
    text-shadow: 0 1px 0 #BE2026, 0 2px 0 #BE2026,
    0 3px 0 #BE2026, 0 4px 0 #BE2026,
    0 5px 0 #BE2026, 0 6px 0 #BE2026;
}
h2{
    font-size: 1.6em;
    margin: 0.5em auto;
}

body{
    background-color: #000000;
    color: #FABB15;
}

.navbar{
    margin: 0.5em auto 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navoptions{
    display: inline-block;
    margin-right: 2em;
}

li{
    color: #fff;
    list-style-position: inside;
}

li a{
    color: #fff;
}

li a:visited{
    color: #fff;
}

.left{
    margin-left: 2em;
}

.subject{
    width: 96vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1.5em;
    margin-right: auto;
    flex-direction: column;
}
.cardsbox{
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 15vw;
    height: 10em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: #222222;
    border: 5px solid #000000;
}

.cardsbox a:hover{
    text-decoration: none;
}

.card:hover {
    border: 5px solid #FABB15;
}

.cardimg{
    width: 4em;
    height: auto;
}

.lists a {
    display: block;
    text-align: center;
    align-content: center;
    width: 20vw;
    margin: 1em;
    padding: 1em;
    background-color: #FABB15;
    border-radius: 0.75em;
    border: 5px solid #000000;
    color: #000000;
}

.lists {
    width: 96vw;
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    justify-items: center;
}

.lists a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    border: 5px solid #fff;
}

input[type="radio"]{
    display: none;
}

.accordion{
    width: 90vw;
}

.accordion li{
    text-align: center;
    list-style: none;
    width: 84vw;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 25px;
    background-color: #222222;
}

.accordion .lists{
    width: 84vw;
    grid-template-columns: 26vw 26vw 26vw;
    justify-items: center;
    justify-content: center;
}

.accordion li a{
    color: #000000;
    border: 5px solid #222222;
}

.accordion li label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion label::before{
    content: "+";
    color: #FABB15;
    font-size: 3em;
    font-weight: bold;
}

.accordioncontent{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion input[type="radio"]:checked + label + .accordioncontent{
    max-height: 40em;
}

.accordion input[type="radio"]:checked + label::before{
    content: "-";
}

.heading{
    text-align: center;
}

.subjecth2{
    color: #FABB15;
}

.launch-time {
    display: flex;
}

.launch-time div {
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 60px;
    margin-bottom: -14px;
}

@media screen and (max-width:1155px){
    .mobiletitle{
        margin-top: 1em;
    }
    body{
        font-size: 0.9em;
    }
    #sidebar-active{
        display: none;
    }
    .open-sidebar{
        position:fixed;
        top:0.2em;
        right:0.2em;
    }
    .close-sidebar{
        margin-bottom: 1em;
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        display: none;
    }
    .sidebar{
        display: flex;
    }
    button{
        background: none;
    }
    .hamburger{
        cursor: pointer;
    }
    .nav-bar{
        height: 100vh;
        position: fixed;
        top:0;
        right: -100%;
        width: 25vw;
        background: #FABB15;
        transition: 0.4s ease-out;
        z-index: 10;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin-left: 0.8em;
        text-align: center;
        list-style: none;
    }
    .nav-bar ul li{
        margin-bottom: 1em;
    }
    .nav-bar li a{
        color: #000000;
    }
    #sidebar-active:checked ~ .nav-bar{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .cardimg{
        width: 5em;
        height: auto;
    }
    .card{
        width: 24vw;
        height: 10em;
    }
    .lists {
        font-size: 1.2em;
    }
    .subjecth2{
        font-size: 1.8em;
    }
    .subject{
        margin-left: 0.45em;
        margin-right: auto;
        align-items: center !important;
    }
    .accordion li a{
        width: 31vw;
        font-size: 1em;
    }
    .accordion label::before{
        font-size: 1.5em;
    }
    .accordion .lists{
        grid-template-columns: 46vw 46vw;
    }
}

@media screen and (max-width:755px){
    body{
        font-size: 0.7em;
    }
    h1{
        font-size: 1.6em;
    }
    .subject{
        flex-direction: column;
        align-items: flex-start;
    }
    .cardimg{
        width: 5em;
        height: auto;
    }
    .card{
        width: 35vw;
        margin: 0.4em;
        padding: 0.4em;
    }
    .nav-bar{
        font-size: 1.5em;
        width: 45vw;
        height: 105vh;
    }
    .lists {
        grid-template-columns: 46vw 46vw;
        justify-items: center;
        font-size: 1.2em;
    }
    .lists a{
        width: 30vw;
    }
    .subjecth2{
        font-size: 1.5em;
    }
    .subject{
        margin: auto;
    }
    .accordion li a{
        border-radius: 1em;
    }
}

@media screen and (max-width:534px){
    .card{
        height: 12em;
    }
    h1{
        font-size: 1.5em;
    }
    .subjecth2{
        font-size: 1.3em;
    }
    .accordion li{
        width: 80vw;
    }
    .accordion .lists{
        width: 80vw;
    }
    .accordion li a {
        width: 31vw;
        font-size: 0.7em;
        padding: 0.4em;
        margin-bottom: 0.5em;
    }
}